<EditForm Model="@CustomerPhone">
    <div class="row">
        <div class="form-group col-6">
            <label>Numero celular</label>
            <InputText @bind-Value="CustomerPhone.cpPhone" />
        </div>
        <div class="row p-2">
            <div class="form-group col-6">
                <input type="submit" class="btn btn-success" value="Crear" @onclick="(() => Crear())" />
            </div>
            <div class="form-group col-6">
                <input type="submit" class="btn btn-danger" value="Cancelar" @onclick="Cancel" />
            </div>
        </div>
    </div>
</EditForm>
@code {
    private CustomerPhoneViewModel CustomerPhone = new();

    [Parameter]
    public int cId { get; set; }

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task Crear()
    {
        CustomerPhone.cId = cId;
        var response = await Http.PostAsJsonAsync<CustomerPhoneViewModel>($"/api/CustomerPhone/", CustomerPhone);

        if (response.IsSuccessStatusCode)
        {
            await BlazoredModal.CloseAsync(ModalResult.Ok(true));
        }
    }

    async Task Cancel() => await BlazoredModal.CancelAsync();
}
