<EditForm Model="@Customer">
    <div class="form-group">
        <label>Nombre 1: </label>
        <InputText @bind-Value="Customer.cName1" />
    </div>
    <div class="form-group">
        <label>Nombre 2: </label>
        <InputText @bind-Value="Customer.cName2" />
    </div>
    <div class="form-group">
        <label>Apellido 1: </label>
        <InputText @bind-Value="Customer.cLastName1" />
    </div>
    <div class="form-group">
        <label>Apellidos 2: </label>
        <InputText @bind-Value="Customer.cLastName2" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Crear" @onclick="(() => Add())" />
    </div>
</EditForm>
<input type="submit" class="btn btn-danger" value="Cancelar" @onclick="(() => Cancel())" />
@code {
    private CustomerViewModel Customer = new();

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task Add()
    {
        var response = await Http.PostAsJsonAsync<CustomerViewModel>($"/api/Customer/", Customer);

        if (response.IsSuccessStatusCode)
        {
            await BlazoredModal.CloseAsync(ModalResult.Ok(true));
        }
    }

    async Task Cancel() => await BlazoredModal.CancelAsync();
}
